<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Student Management Web Application">
    <meta name="author" content="Simon Abraham">
    <link rel="icon" href="favicon.ico">
    <title>MyStudentsMgmtWebApp - List of students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container" style="margin-top: 2em;">
        <div>
            <span style="font-size: 1.5em">List of Students</span>
            <span style="float:right;">
                    <a class="btn btn-outline-primary btn-lg" href="">Add a New Student</a>
                </span>
        </div>
        <p>&nbsp;</p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Student Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">CGPA</th>
                
                               
            </tr>
            </thead>
            <tbody>

            <tr th:each="student, iterStat : ${students}" th:onclick="@{document.location='#'}">
                <th scope="row" th:text="${iterStat.count}+'.'">No.</th>
                <td th:text="${student.studentNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.middleName}"></td>
                <td th:text="${student.lastName}"></td>
                 <td th:text="${student.cgpa}"></td>
                
                
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>